.nav {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 2vh; /* Adjust padding for a rectangular shape */
  position: fixed; /* Position the nav bar fixed within the viewport */
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  width: 100vw; /* Full width */
  height: 10vh; /* Adjust the height as needed */
  z-index: 1000;
  transition: all 0.3s ease; /* Smooth transition for all properties */
}

.nav.scrolled {
  background-color: black;
  top: 5vh; /* Adjust the top position as needed */
  left: 10vw; /* Adjust the left position as needed */
  width: 80vw; /* Adjust the width as needed */
  height: 5vh; /* Adjust the height as needed */
  border-radius: 1vw; /* Add border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for a floating effect */
}

.navButton {
  background-color: transparent;
  color: black;
  border: 0.2vw solid transparent; /* Set initial border to transparent */
  cursor: pointer;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 2vh;
  margin: 1vw;
  transition: border-color 0.3s, background-color 0.3s; /* Smooth transition for border and background color */
}

.navButton:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1); /* Add a slight background color on hover */
  border-color: white; /* Change border color on hover */
}

.body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-size: 300% 300%;
  font-size: 2vw;
}

.container {
  min-height: 100vh;
  padding: 0 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.name{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-size: 3vh;
}
.rowContainer {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
}
.title:hover{
  text-decoration: underline;
  text-decoration-thickness: 0.6vw;
  text-decoration-color: rgb(207, 207, 207);
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1vw;
  line-height: 1.15;
  font-size: 5vh;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 3vh;
}

.grid {
  display: contents;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 3vh;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 80vw;
  margin-top: 1vw;
  text-align: center;
  font-size: 2vh;
  font-weight: 300;
  margin-bottom: 1vw;

}

.centered1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 80vw;
  margin-top: 1vw;
  text-align: center;
  font-size: 2vh;
  font-weight: 600;
  margin-bottom: 1vw;
}

.centered2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 80vw;
  margin-top: 1vw;
  text-align: center;
  font-size: 4vh;
  margin-bottom: 1vw;
}

.img1{
  height: 3vw;
}

.img2{
  width: 100%; /* Make the image take up the full width of its container */
  height: 100%; /* Make the image take up the full height of its container */
  object-fit: cover; /* Crop the image to cover the container */
}

.img3{
  height: 40vh;
  max-height: 30vw;
}

.col1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 0rem;
}

.col2 {
  display: flex;
  align-items: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 80vw;
  margin-top: 0rem;
  padding: 4vw;
}

.col2 h1 {
  font-size: 3vh;
}

.col2 h2 {
  font-size: 3vh;
}


.col2 p {
  font-size: 2.5vh;
}
.card {
  margin: 0.5vh;
  padding: 1.0vh;
  text-align: left;
  color: rgb(131, 131, 131);
  text-decoration: none;
  border-radius: 1vw;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardpopup {
  width: 100%;
  max-width: 100vh; /* Ensures it doesn't exceed the viewport height */
  padding: 3vw;
  text-align: left;
  background-color: white;
  box-shadow: inset;
  text-decoration: none;
  border: 0.2vw solid #eaeaea;
  border-radius: 1vw;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.cardpopup2 {
  width: 100%;
  max-width: 100vh; /* Ensures it doesn't exceed the viewport height */
  padding: 3vw;
  text-align: left;
  background-color: white;
  box-shadow: inset;
  text-decoration: none;
  border: 0.2vw solid #eaeaea;
  border-radius: 1vw;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}


.card:hover,
.card:focus,
.card:active {
  color:  black;
  border-color: black;

}

.card h3 {
  margin: 0 0 1vw 0;
  font-size: 2.5vh !important;
}

.card p {
  margin: 0;
  font-size: 2.0vh !important;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the minmax values as needed */
  gap: 2vw;
}

.imageContainer {
  width: 20vw; /* Ensure the image container takes up the full width of the grid cell */
  height: 20vh; /* Set a fixed height for the image container */
  overflow: hidden; /* Hide any overflow */
  position: relative;
}


.imglogo {
  width: 20vh; /* Make the image take up the full width of its container */
  height: 20vh; /* Make the image take up the full height of its container */
  object-fit: cover; /* Crop the image to cover the container */
}
.img2 {
  width: 100%; /* Make the image take up the full width of its container */
  height: 100%; /* Make the image take up the full height of its container */
  object-fit: cover; /* Crop the image to cover the container */
}

.hoverText {
  visibility: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 0.5vw 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap; /* Prevent text wrapping by default */
}

.imageContainer:hover .hoverText {
  visibility: visible;
  opacity: 1;
}

/* Media query for smaller viewport heights */
@media (max-height: 600px) {
  .hoverText {
    white-space: normal; /* Allow text wrapping */
    padding: 1vw; /* Adjust padding for better readability */
    font-size: 3vw; /* Adjust font size for smaller screens */
  }
}
/* Base styles for other text elements */
.card h3 {
  margin: 0 0 1vw 0;
  font-size: 2.0vw;
}

.card p {
  margin: 0;
  font-size: 1.5vw;
  line-height: 1.5;
}

/* Media query for smaller viewport heights */
@media (max-height: 600px) {
  .card h3 {
    font-size: 4vw; /* Adjust font size for smaller screens */
  }

  .card p {
    font-size: 3vw; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 768px) {
  .imageContainer {
    flex: 1 1 45%; /* Adjust the base size for smaller screens */
  }
}

@media (max-width: 576px) {
  .imageContainer {
    flex: 1 1 100%; /* Stack the images vertically on very small screens */
  }
}

/* Ensure text wraps properly */
.navButton,
.body,
.container,
.container2,
.name,
.rowContainer,
.title,
.description,
.grid,
.centered,
.centered1,
.centered2,
.img1,
.img2,
.img3,
.col1,
.col2,
.card,
.parentContainer,
.cardpopup,
.cardpopup2,
.logo,
.gridContainer,
.imageContainer,
.hoverText {
  word-wrap: break-word; /* Allows long words to be broken and wrap to the next line */
  overflow-wrap: break-word; /* Ensures compatibility with different browsers */
  white-space: normal; /* Allows text to wrap normally */
}